# Node modules
/frontend/node_modules

# JVM files
/backend/build
/backend/out

# OS-specific files
.DS_Store

# IDE-specific files
.idea
.vscode

# Log files
*.log

# Environment variables
.env

# Miscellaneous
*.tmp
